<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>phpYouDo without any JavaScript</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css" />
</head>
<body>
<div class="row">
	<div class="large-12 columns">
		<a class="tiny button" href="?"
			>&laquo; Return to the overview</a>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h2>Active application: example_09_nojs</h2>
		<h3>Please choose a report:</h3>
		<ul class="button-group">
			<li>
				<a href="?application=example_09_nojs&report=data" class="button">
					Data-report
				</a>
			</li>
		</ul>
	</div>
</div>
%PYD_CONTENT%
</body>
</html>
